asgiref==3.10.0
Django==5.2.8
sqlparse==0.5.3
tzdata==2025.2

certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
idna==3.11
jpype1==1.6.0
konlpy==0.6.0
lxml==6.0.2
numpy==2.2.6
olefile==0.47
packaging==25.0
pycparser==2.23
pyhwp==0.1b15
PyPDF2==3.0.1
python-docx==1.2.0
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.5.0
