.inbox{
  max-width:1440px;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center; /*가로 중앙 */
    align-items: center;   /* 세로 중앙 */
    min-height: 100vh;
    background-color: #FFFFFF; /* 바깥 배경색 */
    margin: 0;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
}

.forgot-pw{
  margin-left: 90px;
  font-size:20px;
}

/* 로그인 폼 영역 */
.login-box {
    width: 575px;
    height:760px;
    padding: 30px;
    background-color:#ffffff; /* 흰색 배경 */
    border: 1px solid #dee2e6; /* 옅은 회색 테두리 */
    border-radius: 25px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* 은은한 그림자 */
}

/* '로그인' 제목 */
h2 {
    font-size: 48px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 60px;
    color:#62C370;
    margin-left: 25px;
}


.form-group label {
    display: block; /* 라벨을 한 줄 전체 차지하게 만듦 */
    font-size: 16px;
    font-weight: 500;
}

/* 아이디, 비밀번호 입력창 */
.form-group input[type="text"],
.form-group input[type="password"] {
    width: 415px;
    margin-left: 80px;
    height:69px;
    padding: 12px;
    background-color: #FFFFFF;
    border: 1px solid #ced4da; 
    border-radius: 15px; 
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비 계산 */
  
}

/*'자동 로그인' 체크박스와 '아이디 찾기' 링크가 있는 영역 */

.options {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    font-size: 14px;
    color: #495057;
    
}

/* '자동 로그인' 체크박스와 텍스트*/
.auto-login {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 80px;
    color:#4E4E4E;
}

.auto-login input[type="checkbox"] {
    margin-right: 6px; 
}


.login-button {
    margin-left:80px;
    width: 415px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color:#62C370;
    border: 2px solid #4E4E4E66;
    border-radius: 15px;
    cursor: pointer; /* 마우스 올리면 손가락 모양 */
    
}

/* 하단 '회원 가입' 영역*/
.signup {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    margin-right: 158px;
    
}

.signup span {
    color: #868e96; /* 옅은 회색 글씨 */
}

.signup p{
  margin-right: 170px; 
}

.signup a {
    color: #343a40; 
    text-decoration: none; /* 밑줄 제거 */
    font-weight: 500;
    color:#62C370;
}

.error-message {
    color: #e04a4a; /* 빨간색 에러 메시지 */
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    height: 12px; /* 메시지가 없어도 공간 차지 */
    margin-left:80px;
}

.form-group {
    margin-bottom: 5px; /* 그룹 사이를 넓게 벌려서 에러 메시지 공간 확보 */
}

.idnpw{
  margin-left: 80px;
  font-size: px;
  
}